@page
@model RazorPageApp.Pages.Authors.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create Author</h2>
<div class="form-horizontal">
    <form method="post">
        @Html.ValidationSummary(true, null, new { @class = "text-danger h4" })
        <!-- Input and Submit elements -->

        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Name</label>
            </div>
            <span asp-validation-for="Data.Name" class="text-danger"></span>
            <input asp-for="Data.Name" class="form-control col-sm-10" />
        </div>
        
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Email</label>
            </div>
            <span asp-validation-for="Data.Email" class="text-danger"></span>
            <input asp-for="Data.Email" class="form-control col-sm-10" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
