@page
@model RazorPageApp.Pages.Authors.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-danger">Delete this author?</h2>
<form method="post">
    @Html.ValidationSummary(true, null, new { @class = "text-danger h4" })
    <!-- Input and Submit elements -->
    <input name="Data.BookId" type="hidden" value="@Model.Data?.AuthorId" />
    @*We need these in case where there is an error and we need to reshow the data again*@
    <input name="Data.Title" type="hidden" value="@Model.Data?.Name" />

    @if (Model.Data?.Name != null)
    {
        <h3>@Model.Data?.Name</h3>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit">DELETE</button>
        </div>
    </div>
</form>
