/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/*---------------------------------------------------------------------*/
/* Extra bits added specificially for the EF Core Example Book project */

/* see http://stackoverflow.com/a/24830641/1434764 */
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

/* parts to format the sort, filter and page controls*/

.sort-filter-width {
    width: 165px;
}

.page-control-width {
    width: 80px;
}

.page-num-input {
    display: inline-block;
}

.num-pages-text {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

.dim-filter-value {
    opacity: 0.3
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

/*------------------------------------------------------------------
    Extra bits for showing log - see http://stackoverflow.com/a/32351302/1434764
*/

.white-space-pre {
    white-space: pre-wrap;
    padding-top: 0;
    padding-bottom: 0;
}

.text-overflow-dots {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}