@page
@model RazorPageApp.Pages.Home.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create Book</h2>
<div class="form-horizontal">
    <form method="post">
        @Html.ValidationSummary(true, null, new { @class = "text-danger h4" })
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Title</label>
            </div>
            <input asp-for="Data.Title" class="form-control col-sm-10" />
            <span asp-validation-for="Data.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Description</label>
            </div>
            <input asp-for="Data.Description" class="form-control col-sm-10" />
            <span asp-validation-for="Data.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Publication Date</label>
            </div>
            <input asp-for="Data.PublishedOn" class="form-control col-sm-10" />
            <span asp-validation-for="Data.PublishedOn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Publisher</label>
            </div>
            <input asp-for="Data.Publisher" class="form-control col-sm-10" />
            <span asp-validation-for="Data.Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Price</label>
            </div>
            <input asp-for="Data.Price" class="form-control col-sm-10" />
            <span asp-validation-for="Data.Price" class="text-danger"></span>
        </div>
        <p>
            Please note that I used select2.js and this does not retain the order in which the authors were selected.
            <br/>
            In a real system this would need to be fixed, but for this demo I haven't bothered.
        </p>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Select Authors</label>
            </div>
            <select asp-for="Data.BookAuthorIds" id="select2-input" class="form-control col-sm-10" multiple="multiple">
                @if (Model.Data?.AuthorList != null)
                {
                    foreach (var idText in Model.Data.AuthorList)
                    {
                        <option value="@idText.Id">@idText.Text</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit">Create Book</button>
            </div>
        </div>

    </form>

</div>

@section Scripts{
    <script src="~/vendor/select2/dist/js/select2.js"></script>
    <script>


        var $authorInput = $("#select2-input");
        //Note that select2 will order the input based on the order they came from the server
        //See issue https://github.com/select2/select2/issues/3106
        $authorInput.select2({
            //width: 'resolve',
            minimumInputLength: 2,
            //tags: true, // Allows custom text
            selectOnClose: true,  //Allows tab/return to select
            tokenSeparators: [','] // Hitting comma as a user types allows them to quickly add more results
        });
    </script>
}
